<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <h2>List of Posts:</h2>
    <ul>
        {% for post in posts_data %}
            <li><a href="/post/{{ post.id }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    {% block content %}
    <div>
        <h3>Add New Post</h3>
        <form method="POST" action="/add_post">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
            <br>
            <label for="subtitle">Subtitle:</label>
            <input type="text" id="subtitle" name="subtitle" required>
            <br>
            <label for="content">Content:</label>
            <textarea id="content" name="content" rows="4" required></textarea>
            <br>
            <label for="created_on">Date:</label>
            <input type="date" id="created_on" name="created_on" required>
            <br>
            <button type="submit">Add Post</button>
        </form>
    </div>
    {% endblock %}

    <h2>List of Posts:</h2>
    <ul>
        {% for post in posts_data %}
            <li>
                <a href="/post/{{ post.id }}">{{ post.title }}</a>
                <form method="POST" action="/delete_post/{{ post.id }}" style="display:inline">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    



</body>
</html>
